@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-300: #2e5bff;
  --primary-200: #3365fc;

  --secondary-400: #2e384d;
  --secondary-300: #b1b1b8;
  --secondary-200: #edf1fd;
  --secondary-100: #f5f5f7;

  --success-300: #00cf83;
  --success-200: #00ae69;

  --danger-400: #e94a47;
  --danger-300: #ff4945;
  --danger-200: #ffeceb;
}

/* Tailwind CSS Variables */
@font-face {
  font-family: "Poppins";
  src:
    url("./assets/fonts/Poppins/Poppins-Regular.woff2") format("woff2"),
    url("./assets/fonts/Poppins/Poppins-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/Poppins/Poppins-Medium.woff2") format("woff2"),
    url("./assets/fonts/Poppins/Poppins-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src:
    url("./assets/fonts/Rubik/Rubik-Regular.woff2") format("woff2"),
    url("./assets/fonts/Rubik/Rubik-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/Rubik/Rubik-Medium.woff2") format("woff2"),
    url("./assets/fonts/Rubik/Rubik-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .custom-shadow {
    box-shadow: 0px 25px 40px 0px rgba(0, 0, 0, 0.03);
  }
}

* {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
}
